apscheduler
beautifulsoup4
python-dotenv
requests
scikit-learn
jieba
sqlalchemy
feedparser
python-dateutil
prometheus_client
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client 
python-dotenv jinja2